.body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    color: #141414;
}


.main_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 3em;
    column-gap: 5%;
    padding-top: 8em;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    color: #141414;
}

.homepage_left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.homepage_right {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
}

.homepage_text {
    width: 28em;
}

@keyframes gradient-border {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
.image-container {
    width: 80%;
    /* display: inline-block; */
    background: linear-gradient(-60deg, #f3ec78, #af4261, #3bceac, #20b2e3);
    background-size: 300% 300%;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    animation: gradient-border 6s linear infinite;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

}

.image-container img {
    width: 100%;
    display: block;
    border: 5px solid #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    border-radius: 15px;
    transition: transform 0.5s;
}

.get-started-button {
    background-color: rgb(222, 36, 89);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 2px;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.3s;
}

.get-started-button:hover {
    background-color: rgb(194, 0, 55);
}


.checkmarks-list {
    list-style: none;
    padding-left: 20px;
    position: relative;
    color: grey;
}
.checkmarks-list li::before {
    content:"\2713";
    position: absolute;
    left: 0;
}

  

input {
    font-family: 'Poppins', sans-serif;
}



#about_description {
    margin: 7em 7em;
}


.page_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 9em;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    color: #141414;
    row-gap: 0.5em;
    margin: 8em 15%;
}

#account_creation_form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 9em;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    color: #141414;
    border-radius: 15px;
}

#account_creation_form h2 {
    font-size: 1.8em;
}

#account_creation_button {
    margin-top: 2em;
    padding: 1em;
    background-color: white;
    border: 3px solid rgb(255, 115, 0);
    border-radius: 5em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
}

#account_creation_form input {
    border: 3px solid #272727;
    color: #141414;
    border-radius: 100em;
    padding-left: 0.5em;
    width: 18em;
    font-size: 1.3em;
}

#account_creation_form input:active {
    border: 3px solid #272727;
    color: #141414;
    border-radius: 100em;
    padding-left: 0.5em;
}


#login_box {
    background-color: #303030;
    color: white;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0em 3em 4.5em 3em;

    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.3);
}

#login_box input {
    border: 3px solid #272727;
    color: #141414;
    border-radius: 100em;
    padding-left: 0.5em;
    width: 13em;
    font-size: 1.3em;
}

#login_button {
    margin-top: 2em;
    padding: 0.2em 1em;
    background-color: white;
    border: 3px solid rgb(255, 115, 0);
    border-radius: 5em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
}

.special_button {
    margin-top: 2em;
    padding: 0.2em 1em;
    background-color: white;
    border: 3px solid rgb(5, 53, 150);
    border-radius: 5em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
}

.small_button {
    padding: 0.2em 1em;
    background-color: white;
    border: 3px solid rgb(5, 53, 150);
    border-radius: 5em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
}

.studySetsBox {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    width: 100%;
    align-items: flex-start;
    white-space: normal;
}

.studySetButton {
    padding: 0.2em 1em;
    background-color: white;
    border: 3px solid rgb(62, 79, 110);
    border-radius: 0.5em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-align: left;
    width: 60%;
    word-wrap: break-word;
}

.flush_left_column_page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 9em;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    color: #141414;
    row-gap: 0.5em;
    margin: 7em 20%;
}

.studyset_title_input {
    width: 100%;

    font-family: 'Poppins', sans-serif;
    padding: 3px 10px;
    font-size: 20px;
}

.studyset_title_input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.creation_card {
    width: 100%;
    min-height: 2em;
    border-radius: 5px;
    border: 2px solid rgb(5, 53, 150);
    padding: 1em;
    padding-top: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3.5%;
}


.auto-growing-textarea {
    resize: none;
    /* Prevent users from manually resizing the textarea */
    overflow-y: hidden;
    /* Hide vertical scrollbar */
    min-height: 1em;
    /* Set a minimum height for the textarea */
    font-size: 15px;
    /* Set the desired font size */
    line-height: 1.5;
    /* Set the desired line height */
    font-family: 'Poppins', sans-serif;
    border: 0px;
    border-bottom: 2px solid grey;
    padding: 1px;
    margin-bottom: 1px;
    padding: 0;
}

.auto-growing-textarea:focus {
    outline: none;
    border-bottom: 3px solid rgb(255, 187, 0);
    margin-bottom: 0px;
}

.back_to_studysets {
    font-size: 1em;
    color: inherit;
    text-decoration: none;
}

.back_to_studysets:hover {
    font-size: 1em;
    color: inherit;
    text-decoration: underline;
}

.view_only_card {
    width: 80%;
    border-radius: 5px;
    border: 2px solid rgb(5, 53, 150);
    padding: 0.5em 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.view_only_card_sub_area {
    display: flex;
    flex-direction: column;
    row-gap: 0.3em;
    padding-left: 2em;
    word-wrap: break-word;
}

.trashBinIcon {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px 2px;
}

.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
}

.popup {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

.popup p {
    font-size: 16px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.delete-button:hover {
    background-color: darkred;
}

.cancel-button {
    background-color: #8fa896;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.cancel-button:hover {
    background-color: #7f9876;
}

.turqoise_button {
    padding: 0em 0.6em;
    margin: 0;
    background-color: white;
    border: 3px solid rgb(5, 150, 133);
    border-radius: 0.5em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}

.card_container {
    perspective: 1000px;
    width: 50em;
    height: 30em;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.35s;
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
    /* border: 2px solid rgb(126, 126, 126); */
    box-shadow: 0 0 5.5px 5.5px rgba(0, 0, 0, 0.3); 


    display: flex;
    justify-content: center;
    align-items: center;
}

.card_face {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    width: 90%;
    height: 90%;
    backface-visibility: hidden;

    position: absolute;
    font-size: 20px;

    overflow-wrap: anywhere;
    overflow-y: scroll;
}

.card_front {
    transform: rotateX(0deg);
}

.card_back {
    transform: rotateX(180deg) translateZ(1px);
}




.flashcard-button {
    padding: 0.2em 1em;
    margin: 0.7em;
    background-color: white;
    border: 3px solid rgb(5, 53, 150);
    border-radius: 5em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
}
  

.flashcards_progress_bar {
    width: 50%;
    height: 20px;
    background-color: rgb(218, 215, 215);
}




.menu-bar {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5); /* Transparent background */
    padding: 1em;
}

.left-button,
.right-button,
.center-button {
    padding: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for buttons */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.left-button,
.right-button {
    min-width: 15%;
}

.left-button:hover,
.right-button:hover,
.center-button:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Darker background on hover */
}

.center-buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between the two center buttons */
}